In [1]:
import pandas as pd

In [2]:
nifty = pd.read_csv('data/niftydata.csv')
nifty.head()

   9/17/2007  4494.649902
0  9/18/2007  4546.200195
1  9/19/2007  4732.350098
2  9/20/2007  4747.549805
3  9/21/2007  4837.549805
4  9/24/2007  4932.200195

In [3]:
## For separators other than comma, we can call read_csv with respective separator.
## nrows = 20, first 20 observations
nifty = pd.read_csv('data/niftydata.csv',sep=',',nrows=20)
nifty = pd.read_csv('data/niftydata.csv',sep=',')
nifty.head()

   9/17/2007  4494.649902
0  9/18/2007  4546.200195
1  9/19/2007  4732.350098
2  9/20/2007  4747.549805
3  9/21/2007  4837.549805
4  9/24/2007  4932.200195

In [4]:
## To check if the dat frame is empty. Boolean variable
nifty.empty

False

In [5]:
## Incase of header = None, the columns are renamed to 0,1,2,...
nifty = pd.read_csv('data/niftydata.csv',header=None)
nifty.head()

           0            1
0  9/17/2007  4494.649902
1  9/18/2007  4546.200195
2  9/19/2007  4732.350098
3  9/20/2007  4747.549805
4  9/21/2007  4837.549805

In [6]:
nifty = pd.read_csv('data/niftydata.csv',header=None,names=['TradeDate','ClosingPrice'])
nifty.head()

   TradeDate  ClosingPrice
0  9/17/2007   4494.649902
1  9/18/2007   4546.200195
2  9/19/2007   4732.350098
3  9/20/2007   4747.549805
4  9/21/2007   4837.549805

In [7]:
nifty.describe()

       ClosingPrice
count   2495.000000
mean    6331.771002
std     1785.887216
min     2524.199951
25%     5121.125000
50%     5860.950195
75%     7959.724853
max    10452.500000

In [8]:
nifty.describe(include='all')

        TradeDate  ClosingPrice
count        2519   2495.000000
unique       2519           NaN
top     9/17/2007           NaN
freq            1           NaN
mean          NaN   6331.771002
std           NaN   1785.887216
min           NaN   2524.199951
25%           NaN   5121.125000
50%           NaN   5860.950195
75%           NaN   7959.724853
max           NaN  10452.500000

In [9]:
orders = pd.read_excel('data/Sample - Superstore Sales.xls',0)
orders.head(2)

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.54,0.04,Regular Air,-213.25,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.93,0.01,Regular Air,-4.64,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21

In [10]:
orders.describe()

,Row ID,Order ID,Order Quantity,Sales,Discount,Profit,Unit Price,Shipping Cost,Product Base Margin
count,8390.000000,8390.000000,8390.000000,8390.000000,8390.000000,8390.000000,8390.000000,8390.000000,8327.000000
mean,4195.500000,29932.999166,25.564601,1775.466315,0.049677,181.060342,89.354539,12.841080,0.512504
std,2422.128713,17242.133927,14.481768,3585.180194,0.031817,1197.067399,290.479112,17.271407,0.135600
min,1.000000,3.000000,1.000000,2.240000,0.000000,-14140.701600,0.990000,0.490000,0.350000
25%,2098.250000,14989.500000,13.000000,142.962500,0.020000,-83.295000,6.480000,3.300000,0.380000
50%,4195.500000,29811.500000,26.000000,449.295000,0.050000,-1.515000,20.990000,6.070000,0.520000
75%,6292.750000,44539.250000,38.000000,1709.985000,0.080000,162.544500,85.990000,13.990000,0.590000
max,8390.000000,59939.000000,50.000000,89061.050000,0.250000,27220.690000,6783.020000,164.730000,0.850000

In [11]:
orders.describe(include='all')

/var/folders/g_/tkt2lv051zv8z_1rjnskg3hr0000gn/T/ipykernel_783/3440501736.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  orders.describe(include='all')

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
count,8390.000000,8390.000000,8390,8390,8390.000000,8390.000000,8390.000000,8390,8390.000000,8390.000000,...,8390,8390,8390,8390,8390,8390,8390,8390,8327.000000,8390
unique,NaN,NaN,1418,5,NaN,NaN,NaN,3,NaN,NaN,...,795,13,8,4,3,17,1263,7,NaN,1450
top,NaN,NaN,2012-03-28 00:00:00,High,NaN,NaN,NaN,Regular Air,NaN,NaN,...,Darren Budd,Ontario,West,Corporate,Office Supplies,Paper,"Global High-Back Leather Tilter, Burgundy",Small Box,NaN,2011-05-21 00:00:00
freq,NaN,NaN,20,1766,NaN,NaN,NaN,6265,NaN,NaN,...,41,1826,1987,3075,4605,1223,24,4342,NaN,19
first,NaN,NaN,2009-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-01-02 00:00:00
last,NaN,NaN,2012-12-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-12-30 00:00:00
mean,4195.500000,29932.999166,NaN,NaN,25.564601,1775.466315,0.049677,NaN,181.060342,89.354539,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.512504,NaN
std,2422.128713,17242.133927,NaN,NaN,14.481768,3585.180194,0.031817,NaN,1197.067399,290.479112,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.135600,NaN
min,1.000000,3.000000,NaN,NaN,1.000000,2.240000,0.000000,NaN,-14140.701600,0.990000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.350000,NaN
25%,2098.250000,14989.500000,NaN,NaN,13.000000,142.962500,0.020000,NaN,-83.295000,6.480000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.380000,NaN
50%,4195.500000,29811.500000,NaN,NaN,26.000000,449.295000,0.050000,NaN,-1.515000,20.990000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.520000,NaN
75%,6292.750000,44539.250000,NaN,NaN,38.000000,1709.985000,0.080000,NaN,162.544500,85.990000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.590000,NaN
max,8390.000000,59939.000000,NaN,NaN,50.000000,89061.050000,0.250000,NaN,27220.690000,6783.020000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.850000,NaN

In [12]:
orders.describe(include=['object'])

,Order Priority,Ship Mode,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container
count,8390,8390,8390,8390,8390,8390,8390,8390,8390,8390
unique,5,3,795,13,8,4,3,17,1263,7
top,High,Regular Air,Darren Budd,Ontario,West,Corporate,Office Supplies,Paper,"Global High-Back Leather Tilter, Burgundy",Small Box
freq,1766,6265,41,1826,1987,3075,4605,1223,24,4342

In [13]:
orders.describe(include=['object','float'])

,Order Priority,Sales,Discount,Ship Mode,Profit,Unit Price,Shipping Cost,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin
count,8390,8390.000000,8390.000000,8390,8390.000000,8390.000000,8390.000000,8390,8390,8390,8390,8390,8390,8390,8390,8327.000000
unique,5,NaN,NaN,3,NaN,NaN,NaN,795,13,8,4,3,17,1263,7,NaN
top,High,NaN,NaN,Regular Air,NaN,NaN,NaN,Darren Budd,Ontario,West,Corporate,Office Supplies,Paper,"Global High-Back Leather Tilter, Burgundy",Small Box,NaN
freq,1766,NaN,NaN,6265,NaN,NaN,NaN,41,1826,1987,3075,4605,1223,24,4342,NaN
mean,NaN,1775.466315,0.049677,NaN,181.060342,89.354539,12.841080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.512504
std,NaN,3585.180194,0.031817,NaN,1197.067399,290.479112,17.271407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.135600
min,NaN,2.240000,0.000000,NaN,-14140.701600,0.990000,0.490000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.350000
25%,NaN,142.962500,0.020000,NaN,-83.295000,6.480000,3.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.380000
50%,NaN,449.295000,0.050000,NaN,-1.515000,20.990000,6.070000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.520000
75%,NaN,1709.985000,0.080000,NaN,162.544500,85.990000,13.990000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.590000
max,NaN,89061.050000,0.250000,NaN,27220.690000,6783.020000,164.730000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.850000

In [14]:
##Describing a specific set of values
orders[orders['Order Priority'] == 'High'].describe()

,Row ID,Order ID,Order Quantity,Sales,Discount,Profit,Unit Price,Shipping Cost,Product Base Margin
count,1766.000000,1766.000000,1766.000000,1766.000000,1766.000000,1766.000000,1766.000000,1766.000000,1753.000000
mean,4275.609287,30507.731597,25.830691,1849.741575,0.049496,230.436621,88.822984,12.827169,0.513383
std,2451.172068,17454.367249,14.546134,3552.187759,0.031743,1294.698329,239.568337,16.905500,0.133201
min,3.000000,32.000000,1.000000,3.410000,0.000000,-11861.460000,1.260000,0.490000,0.350000
25%,2189.500000,15778.750000,13.000000,157.855000,0.020000,-83.162500,6.680000,3.010000,0.380000
50%,4282.500000,30499.000000,26.000000,464.670000,0.050000,0.990000,21.980000,6.130000,0.530000
75%,6467.000000,46042.750000,39.000000,1773.739750,0.080000,174.408125,95.820000,13.990000,0.590000
max,8389.000000,59937.000000,50.000000,28664.520000,0.100000,13340.260000,3502.140000,110.200000,0.850000

In [15]:
orders[(orders['Order Priority'] == 'High') & (orders['Sales'] >= 10000)].describe()

,Row ID,Order ID,Order Quantity,Sales,Discount,Profit,Unit Price,Shipping Cost,Product Base Margin
count,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,67.000000
mean,4548.926471,32442.308824,36.044118,16129.923059,0.043824,4003.466282,557.899118,35.634118,0.523881
std,2613.045814,18626.326331,10.912725,5094.178907,0.029626,3948.943598,471.986656,20.791751,0.129169
min,49.000000,293.000000,3.000000,10071.090000,0.000000,-8389.470900,208.160000,8.730000,0.350000
25%,2517.500000,18157.500000,30.000000,12264.360000,0.017500,1081.835000,350.605000,19.990000,0.380000
50%,4205.000000,29876.500000,39.000000,14709.315000,0.040000,4306.494000,449.990000,26.000000,0.560000
75%,7193.250000,51314.750000,44.000000,19524.586500,0.070000,7057.997625,550.980000,46.340000,0.600000
max,8325.000000,59491.000000,50.000000,28664.520000,0.100000,13340.260000,3502.140000,99.000000,0.810000

### Sorting Values in a Pandas Data Frame

In [16]:
#Sort Ascending
orders.Sales.sort_values()

888         2.24
3552        3.20
3262        3.23
6986        3.41
1313        3.42
          ...
4628    29884.60
2025    33367.85
4263    41343.21
451     45923.76
4189    89061.05
Name: Sales, Length: 8390, dtype: float64

In [18]:
orders.Sales.sort_values(ascending=False).head()

4189    89061.05
451     45923.76
4263    41343.21
2025    33367.85
4628    29884.60
Name: Sales, dtype: float64

In [20]:
# Sorting columns whose names have spaces.
orders['Order Date'].sort_values().head()

1913   2009-01-01
4030   2009-01-01
5272   2009-01-02
1278   2009-01-02
5271   2009-01-02
Name: Order Date, dtype: datetime64[ns]

In [23]:
#Sorting the data inside the data frame, not just printing the column in the sorted format
orders.sort_values('Sales').head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
888,889,6374,2011-08-07,Critical,1,2.24,0.01,Regular Air,-1.9700,1.48,...,Ricardo Emerson,British Columbia,West,Corporate,Office Supplies,Rubber Bands,Binder Clips by OIC,Wrap Bag,0.37,2011-08-09
3552,3553,25318,2011-11-19,Critical,1,3.20,0.09,Regular Air,-3.1625,1.88,...,Ken Dana,Alberta,West,Small Business,Office Supplies,Binders and Binder Accessories,Staples® General Use 3-Ring Binders,Small Box,0.37,2011-11-21
3262,3263,23361,2010-07-03,Critical,2,3.23,0.06,Regular Air,-2.7300,1.26,...,Benjamin Patterson,Yukon,Yukon,Corporate,Office Supplies,Rubber Bands,Bagged Rubber Bands,Wrap Bag,0.81,2010-07-04
6986,6987,49925,2010-01-22,High,1,3.41,0.06,Regular Air,-1.7800,2.88,...,Adam Hart,British Columbia,West,Corporate,Office Supplies,Pens & Art Supplies,Newell 346,Wrap Bag,0.56,2010-01-23
1313,1314,9635,2009-04-13,Critical,1,3.42,0.05,Regular Air,-2.9095,1.88,...,Andy Reiter,Quebec,Quebec,Corporate,Office Supplies,Binders and Binder Accessories,Staples® General Use 3-Ring Binders,Small Box,0.37,2009-04-15

In [25]:
# Sorting with two columns
orders.sort_values(['Sales','Discount'],ascending=False).head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
4189,4190,29766,2009-03-21,Medium,13,89061.05,0.00,Regular Air,27220.69,6783.02,...,Emily Phan,New Brunswick,Atlantic,Consumer,Technology,Office Machines,Polycom ViewStation™ ISDN Videoconferencing Unit,Large Box,0.39,2009-03-22
451,452,3073,2009-01-07,Medium,7,45923.76,0.07,Regular Air,102.61,6783.02,...,Jasper Cacioppo,Quebec,Quebec,Home Office,Technology,Office Machines,Polycom ViewStation™ ISDN Videoconferencing Unit,Large Box,0.39,2009-01-08
4263,4264,30343,2012-05-21,Critical,8,41343.21,0.09,Regular Air,3852.19,6783.02,...,Craig Carreira,Saskachewan,Prarie,Corporate,Technology,Office Machines,Polycom ViewStation™ ISDN Videoconferencing Unit,Large Box,0.39,2012-05-23
2025,2026,14435,2012-12-01,Not Specified,9,33367.85,0.01,Regular Air,3992.52,3499.99,...,Dennis Kane,Quebec,Quebec,Small Business,Technology,Copiers and Fax,Canon imageCLASS 2200 Advanced Copier,Large Box,0.37,2012-12-04
4628,4629,32932,2010-01-09,Low,49,29884.60,0.05,Regular Air,12748.86,599.99,...,Karen Carlisle,British Columbia,West,Corporate,Technology,Copiers and Fax,Canon Image Class D660 Copier,Large Box,0.44,2010-01-13

### Applying Filters to a data frame

In [32]:
# Filtering numeric data 
orders[orders.Sales > 10000].head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
48,49,293,2012-10-01,High,49,10123.02,0.07,Delivery Truck,457.810000,208.16,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,2012-10-02
69,70,417,2009-02-05,Medium,39,15260.78,0.07,Delivery Truck,8734.880000,500.98,...,Robert Barroso,Yukon,Yukon,Small Business,Technology,Office Machines,"Hewlett-Packard cp1700 [D, PS] Series Color In...",Jumbo Drum,0.38,2009-02-06
154,155,965,2011-05-14,Low,42,11230.25,0.07,Delivery Truck,-679.044366,280.98,...,Jas O'Carroll,Ontario,Ontario,Corporate,Furniture,Tables,Global Adaptabilities™ Conference Tables,Jumbo Box,0.66,2011-05-21
157,158,967,2012-06-20,Medium,48,11278.18,0.01,Delivery Truck,1836.810000,227.55,...,Maureen Gastineau,Yukon,Yukon,Consumer,Furniture,Tables,Hon Rectangular Conference Tables,Jumbo Box,0.68,2012-06-23
185,186,1221,2012-04-18,Not Specified,11,10145.14,0.03,Regular Air,3724.572500,896.99,...,Lela Donovan,British Columbia,West,Corporate,Office Supplies,Binders and Binder Accessories,GBC DocuBind TL300 Electric Binding System,Small Box,0.38,2012-04-20

In [36]:
# Filtering char data 
orders[orders['Order Priority'] != 'High'].head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
6,7,35,2011-10-22,Not Specified,30,288.5600,0.03,Regular Air,60.720,9.11,...,Julie Creighton,British Columbia,West,Corporate,Office Supplies,Pens & Art Supplies,Dixon Ticonderoga Core-Lock Colored Pencils,Wrap Bag,0.52,2011-10-23
7,8,35,2011-10-22,Not Specified,14,1892.8480,0.01,Regular Air,48.987,155.99,...,Julie Creighton,British Columbia,West,Corporate,Technology,Telephones and Communication,CF 688,Small Box,0.58,2011-10-24
8,9,36,2011-11-02,Critical,46,2484.7455,0.10,Regular Air,657.477,65.99,...,Sample Company A,Alberta,West,Home Office,Technology,Telephones and Communication,6162i,Small Box,0.55,2011-11-02

In [38]:
#Filetring with multiple criteria
orders[(orders['Order Priority'] != 'High') & (orders['Customer Segment'] == 'Small Business')].head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.540,0.04,Regular Air,-213.250,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
44,45,261,2010-06-28,Medium,47,5677.609,0.04,Regular Air,1680.786,140.99,...,Sonia Sunley,British Columbia,West,Small Business,Technology,Telephones and Communication,7160,Small Box,0.59,2010-06-29
53,54,323,2009-03-25,Critical,20,108.090,0.07,Regular Air,25.760,5.68,...,Dario Medina,Yukon,Yukon,Small Business,Office Supplies,Envelopes,Staples Standard Envelopes,Small Box,0.38,2009-03-27
54,55,323,2009-03-25,Critical,2,55.340,0.06,Regular Air,-31.240,22.84,...,Dario Medina,Yukon,Yukon,Small Business,Office Supplies,Paper,Xerox 1964,Small Box,0.39,2009-03-27
55,56,324,2012-03-19,Critical,25,3872.634,0.02,Regular Air,667.332,179.99,...,Frank Gastineau,Saskachewan,Prarie,Small Business,Technology,Telephones and Communication,VTech VT20-2481 2.4GHz Two-Line Phone System w...,Medium Box,0.57,2012-03-21

In [39]:
orders[(orders['Order Priority'] != 'High') | (orders['Customer Segment'] == 'Small Business')].head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
6,7,35,2011-10-22,Not Specified,30,288.5600,0.03,Regular Air,60.720,9.11,...,Julie Creighton,British Columbia,West,Corporate,Office Supplies,Pens & Art Supplies,Dixon Ticonderoga Core-Lock Colored Pencils,Wrap Bag,0.52,2011-10-23
7,8,35,2011-10-22,Not Specified,14,1892.8480,0.01,Regular Air,48.987,155.99,...,Julie Creighton,British Columbia,West,Corporate,Technology,Telephones and Communication,CF 688,Small Box,0.58,2011-10-24
8,9,36,2011-11-02,Critical,46,2484.7455,0.10,Regular Air,657.477,65.99,...,Sample Company A,Alberta,West,Home Office,Technology,Telephones and Communication,6162i,Small Box,0.55,2011-11-02

In [41]:
orders[(orders['Order Priority'] != 'High') | (orders['Order Priority'] == 'Low')].head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
6,7,35,2011-10-22,Not Specified,30,288.5600,0.03,Regular Air,60.720,9.11,...,Julie Creighton,British Columbia,West,Corporate,Office Supplies,Pens & Art Supplies,Dixon Ticonderoga Core-Lock Colored Pencils,Wrap Bag,0.52,2011-10-23
7,8,35,2011-10-22,Not Specified,14,1892.8480,0.01,Regular Air,48.987,155.99,...,Julie Creighton,British Columbia,West,Corporate,Technology,Telephones and Communication,CF 688,Small Box,0.58,2011-10-24
8,9,36,2011-11-02,Critical,46,2484.7455,0.10,Regular Air,657.477,65.99,...,Sample Company A,Alberta,West,Home Office,Technology,Telephones and Communication,6162i,Small Box,0.55,2011-11-02

In [42]:
orders[(orders['Order Priority'] != 'High') & (orders['Order Priority'] != 'Low')].head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
1,2,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
6,7,35,2011-10-22,Not Specified,30,288.5600,0.03,Regular Air,60.720,9.11,...,Julie Creighton,British Columbia,West,Corporate,Office Supplies,Pens & Art Supplies,Dixon Ticonderoga Core-Lock Colored Pencils,Wrap Bag,0.52,2011-10-23
7,8,35,2011-10-22,Not Specified,14,1892.8480,0.01,Regular Air,48.987,155.99,...,Julie Creighton,British Columbia,West,Corporate,Technology,Telephones and Communication,CF 688,Small Box,0.58,2011-10-24
8,9,36,2011-11-02,Critical,46,2484.7455,0.10,Regular Air,657.477,65.99,...,Sample Company A,Alberta,West,Home Office,Technology,Telephones and Communication,6162i,Small Box,0.55,2011-11-02
9,10,65,2011-03-17,Critical,32,3812.7300,0.02,Regular Air,1470.300,115.79,...,Tamara Dahlen,Ontario,Ontario,Corporate,Technology,Computer Peripherals,"Verbatim DVD-R, 4.7GB, Spindle, WE, Blank, Ink...",Small Pack,0.49,2011-03-18

### Using isin to shorten OR in filter

In [44]:
orders[orders['Ship Mode'].isin(['Regular Air','Delivery Truck'])].head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.250,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.9300,0.01,Regular Air,-4.640,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
2,3,32,2011-07-15,High,26,2808.0800,0.07,Regular Air,1054.820,107.53,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,2011-07-17
3,4,32,2011-07-15,High,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
4,5,32,2011-07-15,High,23,160.2335,0.04,Regular Air,-85.129,7.99,...,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17

### Deleting rows and columns

In [53]:
orders_del = orders.copy()

In [55]:
orders_del.head(2)

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.54,0.04,Regular Air,-213.25,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,2,6,2012-02-20,Not Specified,2,6.93,0.01,Regular Air,-4.64,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21

In [56]:
## axis = 1 implies we are dropping a column
## if inplace = False or not specified, the columns will be dropped while printing output, but it will not be dropped from the DF.

orders_del.drop('Row ID',axis = 1,inplace = True)

In [57]:
orders_del.head(2)

,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,Shipping Cost,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,3,2010-10-13,Low,6,261.54,0.04,Regular Air,-213.25,38.94,35.00,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,6,2012-02-20,Not Specified,2,6.93,0.01,Regular Air,-4.64,2.08,2.56,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21

In [58]:
## Dropping more than one columns
orders_del.drop(['Order Date','Order Priority'],axis = 1,inplace=True)

In [52]:
orders_del.head()

,Order ID,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,Shipping Cost,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,3,6,261.5400,0.04,Regular Air,-213.250,38.94,35.00,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,6,2,6.9300,0.01,Regular Air,-4.640,2.08,2.56,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
2,32,26,2808.0800,0.07,Regular Air,1054.820,107.53,5.81,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,2011-07-17
3,32,24,1761.4000,0.09,Delivery Truck,-1748.560,70.89,89.30,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,2011-07-16
4,32,23,160.2335,0.04,Regular Air,-85.129,7.99,5.03,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17

In [60]:
## Dropping using index
orders_del.drop([2,3],axis=0,inplace=True)

In [62]:
## Notice - rows with index 2,3 have been removed. 0,1,4,5..
orders_del.head()

,Order ID,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,Shipping Cost,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,3,6,261.5400,0.04,Regular Air,-213.250,38.94,35.00,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,6,2,6.9300,0.01,Regular Air,-4.640,2.08,2.56,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21
4,32,23,160.2335,0.04,Regular Air,-85.129,7.99,5.03,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,2011-07-17
5,32,15,140.5600,0.04,Regular Air,-128.380,8.46,8.99,Liz Pelletier,Saskachewan,Prarie,Corporate,Technology,Computer Peripherals,"Imation 3.5 IBM Diskettes, 10/Box",Small Pack,0.79,2011-07-16
6,35,30,288.5600,0.03,Regular Air,60.720,9.11,2.25,Julie Creighton,British Columbia,West,Corporate,Office Supplies,Pens & Art Supplies,Dixon Ticonderoga Core-Lock Colored Pencils,Wrap Bag,0.52,2011-10-23

### Working with data frames

In [64]:
## Gtting the column names
orders.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Order Priority', 'Order Quantity',
       'Sales', 'Discount', 'Ship Mode', 'Profit', 'Unit Price',
       'Shipping Cost', 'Customer Name', 'Province', 'Region',
       'Customer Segment', 'Product Category', 'Product Sub-Category',
       'Product Name', 'Product Container', 'Product Base Margin',
       'Ship Date'],
      dtype='object')

In [67]:
orders_subset = pd.DataFrame(orders,columns=['Row ID','Order ID'])
orders_subset.head()

   Row ID  Order ID
0       1         3
1       2         6
2       3        32
3       4        32
4       5        32

In [68]:
## Another way to drop columns
del orders_subset['Order ID']
orders_subset.head()

   Row ID
0       1
1       2
2       3
3       4
4       5

### Working with Series

In [69]:
ser = pd.Series([5,10,15,20,25,30])

In [70]:
ser

0     5
1    10
2    15
3    20
4    25
5    30
dtype: int64

In [71]:
ser.index

RangeIndex(start=0, stop=6, step=1)

In [72]:
ser[0]

5

In [73]:
ser[3]

20

In [75]:
ser= pd.Series([5,10,15,20,25,30],index=['a','b','c','d','e','f'])

In [76]:
ser

a     5
b    10
c    15
d    20
e    25
f    30
dtype: int64

In [77]:
ser['d']

20

In [78]:
orders['Order Priority']

0                 Low
1       Not Specified
2                High
3                High
4                High
            ...
8385              Low
8386              Low
8387    Not Specified
8388             High
8389           Medium
Name: Order Priority, Length: 8390, dtype: object

In [79]:
orders.Profit

0       -213.2500
1         -4.6400
2       1054.8200
3      -1748.5600
4        -85.1290
          ...
8385    -292.6506
8386    -188.0200
8387      -4.3100
8388     -32.2800
8389     -66.7400
Name: Profit, Length: 8390, dtype: float64

In [80]:
orders.Profit + orders.Sales

0         48.2900
1          2.2900
2       3862.9000
3         12.8400
4         75.1045
          ...
8385     962.8294
8386     223.5400
8387       6.2800
8388     203.7000
8389      64.2200
Length: 8390, dtype: float64

In [82]:
orders.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Order Priority', 'Order Quantity',
       'Sales', 'Discount', 'Ship Mode', 'Profit', 'Unit Price',
       'Shipping Cost', 'Customer Name', 'Province', 'Region',
       'Customer Segment', 'Product Category', 'Product Sub-Category',
       'Product Name', 'Product Container', 'Product Base Margin',
       'Ship Date'],
      dtype='object')

In [84]:
orders['Order Priority'] + " " + orders["Ship Mode"]

0                 Low Regular Air
1       Not Specified Regular Air
2                High Regular Air
3             High Delivery Truck
4                High Regular Air
                  ...
8385           Low Delivery Truck
8386              Low Express Air
8387    Not Specified Regular Air
8388             High Regular Air
8389           Medium Regular Air
Length: 8390, dtype: object

In [85]:
orders.Sales.size

8390

In [97]:
#### Gtting Array like output 
orders.Sales.values

array([ 261.54,    6.93, 2808.08, ...,   10.59,  235.98,  130.96])

### Important functions in data frame for analysis

In [98]:
orders.groupby('Customer Segment').Sales.sum()

Customer Segment
Consumer          3.063611e+06
Corporate         5.498190e+06
Home Office       3.562063e+06
Small Business    2.772298e+06
Name: Sales, dtype: float64

In [99]:
orders.groupby('Customer Segment').Profit.sum()

Customer Segment
Consumer          287959.983779
Corporate         600014.574158
Home Office       318256.411991
Small Business    312865.296153
Name: Profit, dtype: float64

In [100]:
orders['Product Name'].value_counts()

Global High-Back Leather Tilter, Burgundy                            24
Bevis 36 x 72 Conference Tables                                      22
BoxOffice By Design Rectangular and Half-Moon Meeting Room Tables    22
Master Giant Foot® Doorstop, Safety Yellow                           22
Fiskars® Softgrip Scissors                                           22
                                                                     ..
Global Comet™ Stacking Armless Chair                                  1
Verbatim DVD Rewritable Disc, Single-Sided, 4.7GB                     1
Eldon® Executive Woodline II Desk Accessories, Mahogany               1
Eldon Advantage® Chair Mats for Low to Medium Pile Carpets            1
Xerox 223                                                             1
Name: Product Name, Length: 1263, dtype: int64

In [101]:
orders['Product Name'].nunique()

1263

In [102]:
orders.groupby('Customer Segment').Profit.sum().nlargest(2)

Customer Segment
Corporate      600014.574158
Home Office    318256.411991
Name: Profit, dtype: float64

### Grouping Data